<%- include("partials/header.ejs") %>

<!--                   main home section                        -->

<head>
    <style>
        h1{
            margin-top: 100px;
            padding-top: 60px;
            text-align: center;
            font-weight: 700;
            font-size: 3rem;
        }
        .para{
            width: 100vw;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        p{
            text-align: center;
            font-size: 1.5rem;
            max-width: 850px;

        }
    </style>
</head>
<h1>Welcome to FrostHaven !</h1>
<div class="para">
    <p>We’re thrilled you’re here! This space is all about exploring, learning, and connecting over topics that matter to you. Whether you’re looking for fresh ideas, helpful tips, or just a little inspiration, you’ve come to the right place. Our goal is simple: to bring you engaging content that sparks curiosity, fuels your passions, and helps you see the world in new ways.
    From [insert topics like travel, lifestyle, fashion, tech, etc.] to deeper insights on [specific areas of interest], we’re committed to offering posts that entertain, inform, and inspire. <br>

    So grab a cup of coffee, explore our latest posts, and join the conversation. We’re so glad you’re part of this journey!
    </p>
</div>


<%- include("partials/footer.ejs") %>
